version: "3.9"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:example@db:5432/postgres
    depends_on:
      - db

  frontend:
    build: ./frontend  # caminho para a pasta do React
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data: