@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
  transition: all 0.3s ease;
}

*:hover {
  transition: none;
}

:root {
  margin: 0px;
  padding: 0px;
  color: #6f6f6f;

  --pink: #ff375f;
  --blue: #7ec5f3;
  --gray: #f0f1f6;
  --backgroundGray: #f5f5f7;
  --text-black: #1e1e1e;
  --transparent-black: #1e1e1ebe;
  --transparent-white: #ffffffde;
  --transparent-gray: rgba(125, 125, 125, 0.258);
  --transparent-white: rgba(255, 255, 255, 0.744);
  --text-gray-light: #a6a6a6;
  --horizontal-line: #e0e0e0;
  --shadow: 0px 0px 5px #00000033;
  --shadow-header: 3px 0px 4px #00000021;
  --shadow-pink: 0px 0px 7px #ff375f;
  --shadow-blue: 0px 0px 7px #3562c5;
  --neon-blue: #3562c5;
}

h1 {
  font-weight: 600;
}

body,
html {
  margin: 0px;
  padding: 0px;
  background: var(--backgroundGray);
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* liquid glass */
@keyframes anim {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -1500%;
  }
}

.settings-right {
  top: 6rem;
  right: -36rem;
}

@media (max-width: 1665px) {
  .settings-right {
    position: absolute;
    right: -35rem;
  }
}

@media (max-width: 1600px) {
  .settings-right {
    position: absolute;
    right: -33rem;
  }
}

@media (max-width: 1565px) {
  .settings-right {
    position: absolute;
    right: -31rem;
  }
}

@media (max-width: 1500px) {
  .settings-right {
    position: absolute;
    right: -29rem;
  }
}

@media (max-width: 1465px) {
  .settings-right {
    position: absolute;
    right: -27rem;
  }
}
@media (max-width: 1400px) {
  .settings-right {
    position: absolute;
    right: -25rem;
  }
}
@media (max-width: 1365px) {
  .settings-right {
    position: absolute;
    right: -23rem;
  }
}
@media (max-width: 1300px) {
  .settings-right {
    position: absolute;
    right: -21rem;
  }
}
@media (max-width: 1280px) {
  .settings-right {
    position: absolute;
    right: -19rem;
  }
}

@media (max-width: 768px) {
  .settings-right {
    position: static;
    right: auto;
    top: auto;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .settings-right {
    position: static;
    right: auto;
    top: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .settings-right {
    position: absolute;
    right: -38%;
    top: auto;
    transform: translateX(-50%);
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .settings-right-tow {
    position: absolute;
    right: -65%;
    top: auto;
    transform: translateX(-50%);
  }
}

.bgGray {
  background-color: var(--gray);
  opacity: 0.85;
  border: 2px solid white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.aiShadow {
  filter: drop-shadow(-1px 1px 1px rgb(255, 255, 255))
    drop-shadow(-1px -1px 1px var(--pink)) drop-shadow(1px 1px 1px var(--blue));
}

.bgWhite {
  background-color: var(--gray);
  opacity: 0.85;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.bgWhiteTrue {
  background-color: rgba(255, 255, 255, 0.953);
  box-shadow: 0 0px 6px -1px rgba(0, 0, 0, 0.1),
    0 0px 4px -2px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

.bgPink {
  background-color: var(--pink);
  opacity: 0.85;
  border: 2px solid white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.wrapper {
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 0 6px 6px #00000033, 0 0 20px #0000001a;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.effect {
  position: absolute;
  z-index: 0;
  inset: 0;
  backdrop-filter: blur(0px);
  filter: url(#glass-distortion);
  overflow: hidden;
}

.tint {
  z-index: 1;
  position: absolute;
  inset: 0;
  background: #ffffff80;
}

.shine {
  position: absolute;
  inset: 0;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 2px 2px 1px 0 #ffffff80, inset -1px -1px 1px 1px #ffffff80;
}

.text {
  z-index: 3;
  font-size: 2rem;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin: auto;
}

.dock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dock,
.dock > div {
  border-radius: 1.2rem;
}

.dock img {
  padding: 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  cursor: pointer;
}

.bgNote {
  background: var(--backgroundGray) url("/1-Home Page.jpg") top center no-repeat;
  background-size: 100% auto; /* altura da viewport, largura proporcional */
  width: 100vw; /* largura total da tela */
  height: 100vh; /* altura da viewport */
  overflow-y: auto; /* scroll vertical */
  overflow-x: hidden; /* impede scroll horizontal */
}

.blur {
  backdrop-filter: blur(1px);
}

.bgGrayDark {
  background-color: var(--gray);
}

.load {
  border-radius: 25px;
  background: linear-gradient(270deg, var(--gray), rgb(194, 194, 194));
  background-size: 600% 600%;
  animation: gradientShift 1.5s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  cursor: pointer;
}

.post-text {
  white-space: pre-line;
}

.listening-border {
  position: relative;
  z-index: 0;
  border-radius: 50%;
}

.listening-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 2px;
  background: conic-gradient(var(--blue), var(--pink));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  animation: spinBorder 3s linear infinite;
  z-index: -1;
}

@keyframes spinBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.listening-border > * {
  position: relative;
  z-index: 1;
}
