# File: /requirements.txt
# This file contains only the necessary libraries for the FastAPI backend.

# Core API Framework
fastapi
uvicorn
pydantic
pydantic-settings

# Database
sqlalchemy
asyncpg

# Security & Authentication
passlib[bcrypt]
python-jose[cryptography]
email-validator

# Scientific & Data Libraries
numpy
networkx
sympy
scipy
pandas
statsmodels
qutip

# Utilities
python-dotenv
structlog
redis
requests
httpx==0.27.0

faker
mido
midiutil
pygame
tqdm
pulp
matplotlib
snappy
